html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 60px;
	padding-bottom: 55px;
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand,
h1, h2, h3, h4, h5, h6 {
	font-family: 'EB Garamond', serif;
}

.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-brand {
	font-size: 1.8em;
}

.navbar-default {
	background-color: white;
	border: none;
}

.navbar,
.navbar-toggle  {
	border-radius: 0px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #a7192f;
}

.footer-text {
	color: white;
	text-align: right;
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer a,
.footer a:link,
.footer a:visited,
.footer a:active,
.footer a:hover {
	color: white;
}

#logo {
	margin-top: -10px;
	height: 42px;
}

.jumbotron {
	color: white;
	background-color: #a7192f;
}

.jumbotron h1 {
	margin-bottom: 20px;
}

.tphoto {
	max-height: 100px;
}